article {
  padding: 15px;
}

.inputs-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 2svw;
  margin: 4svh auto;
  width: 85%;
}

.input {
  flex: 1;
  height: 25px;
  width: 10svw;
}

label {
  display: block;
}
.table-container {
  height: 50vh;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  overflow-y: scroll;
  background-color: #e4e4e4;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.ledger-row-data {
  border: 1px solid #e4e4e4;
  text-align: left;
  padding: 8px;
}

.header-row,
.body-row:nth-child(odd) {
  background-color: #f8f7f7;
}

.button-container {
  margin: 20px auto;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  width: 85%;
}

.totals-container {
  border: 2px solid #e4dfdc;
  display: flex;
  padding: 15px;
  gap: 15px;
  width: 90%;
  overflow-x: scroll;
  margin-left: auto;
  margin-right: auto;
}

.totals-item {
  background-color: #e4dfdc;
  padding: 5px;
  border-radius: 5px;
}

#reconciled-amount {
  width: 80px;
}

.totals-item-header {
  text-align: center;
  border-bottom: 1px solid darkgray;
  margin-bottom: 5px;
}
.reconcile-data {
  text-align: center;
}

.reconcile-title {
  text-align: end;
}

.reconcile-button {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  height: 30px;
  width: 100%;
  background-color: #99e699;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.add-item-button {
  width: 40px;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  height: 30px;
  background-color: #99e699;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-item-button:hover,
.add-item-button:focus,
.reconcile-button:hover,
.reconcile-button:focus {
  box-shadow: 0 0 5px 3px #b8d6d3;
  background-color: #1e941e;
  color: #e4dfdc;
}
