* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  padding: 15px;
}

button {
  border: none;
  outline: none;
  background: none;
  padding: 0;
  text-decoration: none;
  box-shadow: none;
}

button:active {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}
